@font-face {
	src: url(./scss/setup/fonts/CeraPro-Regular.woff) format(woff);
	font-family: 'CeraPro', sans-serif;
	font-weight: 400;
}

@font-face {
	src: url(./scss/setup/fonts/CeraPro-Medium.woff) format(woff);
	font-family: 'CeraPro', sans-serif;
	font-weight: 500;
}

@font-face {
	src: url(./scss/setup/fonts/CeraPro-Bold.woff) format(woff);
	font-family: 'CeraPro', sans-serif;
	font-weight: 700;
}

@font-face {
	src: url(./scss/setup/fonts/CeraPro-Black.woff) format(woff);
	font-family: 'CeraPro', sans-serif;
	font-weight: 900;
}
